<extend name="Public:base"/>
<block name="leftcolumn">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                喂料管理
            </h3>
        </div>
        <div class="panel-body">

            <button class="btn btn-lg btn-primary"  data-toggle="modal" data-target="#addFeedModal">添加饲料</button>
            <table class="table table-bordered table-striped col-sm-12" >
                <caption>饲料信息:</caption>
                <thead>
                <tr>
                    <th>饲料名称</th>
                    <th>饲料编码</th>
                    <th>饲料规格</th>
                    <th>操作</th>

                </tr>
                </thead>
                <tbody>
                <volist name="feed" id="feed">
                    <tr>
                        <td>{$feed.feed_name}</td>
                        <td>{$feed.feed_code}</td>
                        <td>{$feed.feed_specifications}</td>
                        <td>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#modifyFeedModal" id="modifyButton" value="{$feed.feed_id}" onclick="feedChange(this)">修改</button>
                            <button class="btn btn-success" data-toggle="modal" data-target="#modifyQrModel" id="" value="{$feed.feed_id}" onclick="showFeedQr(this)">二维码</button>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="modifyFeedModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改饲料信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form action="{:U('Superadmin/Safe/modifyFeed')}" id="modifyFeed_form" role="form" method="post">
                        <div class="form-group">
                            <label for="">饲料名称</label>
                            <input type="text" class="form-control" value="" name="feed_name" id="feed_name">
                        </div>
                        <div class="form-group">
                            <label for="">饲料编码</label>
                            <input type="text" class="form-control" value="" name="feed_code" id="feed_code">
                        </div>
                        <div class="form-group">
                            <label for="">饲料规格</label>
                            <input type="text" class="form-control" value="" name="feed_specifications" id="feed_specifications">
                        </div>
                        <label class="control-label" for="input01" name="time">当前时间: {$time} </label>
                        <div class="form-group hidden">
                            <input type="text" class="form-control" value="" name="feed_id" id="feed_id" >
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button"  id="modifyFeedBtn" class="btn btn-primary">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- ModifyQrModal -->
    <div class="modal fade" id="modifyQrModel" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        饲料信息二维码
                    </h4>
                </div>
                <div class="modal-body">
                    <div align="center"><img id="feedQr" src="" height="290" width="290"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal fade" id="addFeedModal" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新饲料信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form action="{:U('Superadmin/Safe/addFeed')}" id="addFeed_form" role="form" method="post">
                        <div class="form-group">
                            <label for="">饲料名称</label>
                            <input type="text" class="form-control" value="" name="feed_name" >
                        </div>
                        <div class="form-group">
                            <label for="">饲料编码</label>
                            <input type="text" class="form-control" value="" name="feed_code" >
                        </div>
                        <div class="form-group">
                            <label for="">饲料规格</label>
                            <input type="text" class="form-control" value="" name="feed_specifications">
                        </div>
                        <label class="control-label" for="input01" name="time">当前时间: {$time} </label>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="button"  id="addFeedBtn" class="btn btn-primary">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->

    </div>

</block>

<block name="script">
    <script>
        function showFeedQr(obj){
            var val = $(obj).attr('value');
            var url = "{:U('Superadmin/Safe/showFeedQr')}";
            $.get(url, {val:val}, function(data, status){

                var name = data.feed_name;
                var time = data.time;
                var code = data.feed_id;
                //alert(data);
                //console.log(data);
                //var src="{:U('Safe/feedQr',array('name'=>"+data.name+",'time'=>"+data.time+"))}";
                var url1 = "{:U('Safe/feedQr')}";
                var src = url1+"?name="+name+"&time="+time+"&code="+code;
                console.log(src);
                document.getElementById('feedQr').src=src;

            });
        }
        function feedChange(obj) {

            var val = $(obj).attr('value');
            var url = "{:U('Superadmin/Safe/getChooseFeed/val/"+val+"')}";
            $.get(url, function(data, status){
                $('#feed_id').val(data['feed_id']);
                $('#feed_name').val(data['feed_name']);
                $('#feed_code').val(data['feed_code']);
                $('#feed_specifications').val(data['feed_specifications']);
            });
        }
        $(document).ready(function(){
            $('#addFeedBtn').click(function(){

                var action= $('#addFeed_form').attr('action');
                var Formattr=$('#addFeed_form').serialize();
                $.post(action, Formattr,function(data,status) {

                    if(status == "success") {
                        alert( "添加成功！");
                        setTimeout("window.location.href=\"{:U('Superadmin/Safe/index', array('name' => 'feed'))}\"",200);
                    }else{
                        alert("添加失败！");
                    }
                    setTimeout("window.location.href=\"{:U('Superadmin/Safe/index', array('name' => 'feed'))}\"",200);
                });
            });
            $('#modifyFeedBtn').click(function(){

                var action= $('#modifyFeed_form').attr('action');
                var Formattr=$('#modifyFeed_form').serialize();
                console.log(Formattr);
                $.post(action, Formattr,function(data,status) {

                    if(status == "success") {
                        alert( "修改成功！");
                        setTimeout("window.location.href=\"{:U('Superadmin/Safe/index', array('name' => 'feed'))}\"",200);
                    }else{
                        alert("修改失败！");
                    }
                    setTimeout("window.location.href=\"{:U('Superadmin/Safe/index', array('name' => 'feed'))}\"",200);
                });
            });
        });

    </script>
</block>