<extend name="Public:base"/>
<block name="leftcolumn">
    <div class="panel panel-info">
	   <div class="panel-heading">
	      <h3 class="panel-title">
	         养殖信息月报
	      </h3>
	   </div>
	   <div class="panel-body">

		   <div class="form-group">
			   <label for="">日期范围</label>
			   <div class="row">
				   <div class="col-sm-4">
					   <input type="date" class='form-control' name="start_time" id="start_time">
				   </div>
				   <div class="col-sm-4">
					   <input type="date" class='form-control' name="end_time" id="end_time">
				   </div>
			   </div>
		   </div>
		   <div class="form-group">
			   <div class="row">
				   <div class="col-sm-8">
					   <label for="">池塘编号</label>
					   <input type="text" class='form-control' name="pool_id" id="pool_id">
				   </div>
			   </div>
		   </div>
		   <div class="form-group">
			   <div class="row">
				   <div class="col-sm-8">
					   <label for="">养殖批次</label>
					   <input type="text" class='form-control' name="batch" id="batch">
				   </div>
			   </div>
		   </div>
		   <div class="form-group">
			   <button type="submit" class="btn btn-lg btn-primary" id="queryButtun" onclick="stockingChange(this)">查询</button>
			   <button class="btn btn-lg btn-info" id="">打印</button>
		   </div>
	   	<table class="table table-bordered table-striped col-sm-12" >
		     <thead>
		        <tr>
		           <th>池塘编号</th>
		           <th>养殖批次</th>
		           <th>排号</th>
		           <th>药品名称</th>
		           <th>使用数量</th>
		           <th>饲料品名</th>
		           <th>使用数量</th>
		        </tr>
		     </thead>
		     <tbody id="div1">

		     </tbody>
 		 </table>
	   </div>
	     <!--<div class="panel-footer">
	     	<ul class="pagination">
			 {$page}
		    </ul>
	     </div>-->
	</div>
</block>
<block name="rightcolumn">
	<h1><strong>报表查询</strong></h1>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{:U('Baseadmin/Trace/querys', array('name' => 's1'))}">养殖信息月报</a></li>
		<li><a href="{:U('Baseadmin/Trace/querys', array('name' => 's2'))}">养殖批次耗用报表</a></li>
		<li><a href="{:U('Baseadmin/Trace/querys', array('name' => 's3'))}">基地销售报表</a></li>
	</ul>
</block>
<block name="script">
	<script>
		function stockingChange(obj) {
			$('#div1').empty();
			var start_time = $('#start_time').val();
			var end_time = $('#end_time').val();
			var pool_id = $('#pool_id').val();
			if (pool_id == "") {
				pool_id = undefined;
			}
			var batch = $('#batch').val();
			var url = "{:U('Baseadmin/Trace/search2/pool_id/" + pool_id + "/batch/" + batch + "/start_time/" + start_time + "/end_time/" + end_time + "')}";
			$.get(url, function (item, status) {

				$('#div1').append("<tr><td>" + item['pool_id'] + "</td><td>" + item['stocking_batch'] + "</td><td>" + item['cage_id'] + "</td><td>" + item.medicine_id + "</td><td>" + item.medicine_number + "" +
						"</td><td>" + item.feed_id + "</td><td>" + item.feed_number + "</td></tr>");

			});
		}
		</script>
	</block>