<extend name="Public:base"/>
<block name="leftcolumn">
    <div class="panel panel-info">
	   <div class="panel-heading">
	      <h3 class="panel-title">
			  基地销售报表
	      </h3>
	   </div>
	   <div class="panel-body">

		   	<div class="form-group">
		   	 	<label for="">日期范围</label>
		   	 	<div class="row">
		   	 		<div class="col-sm-4">
		   	 			<input type="date" class='form-control' name="start_time" id="start_time">
		   	 		</div>
		   	 		<div class="col-sm-4">
		   	 		    <input type="date" class='form-control' name="end_time" id="end_time">
		   	 		</div>
		   	 	</div>
		   	 </div>
		   <div class="form-group">
			   <div class="col-sm-8 row">
				   <label for="">池塘编号</label>
				   <select class="form-control" value="" name="pool_id" id="pool_id">
					   <option value="0">池塘编号</option>
					   <volist name="pool_id1" id="p">
						   <option value="{$p.pool_id}">{$p.pool_id}</option>
					   </volist>
				   </select>
			   </div>
		   </div>
		   	 <div class="form-group">
		   	 	<div class="row">
		   	 		<div class="col-sm-8">
	   	 			 	<label for="">基地编号</label>
	   	 				<input type="text" class='form-control' name="base_id" id="base_id">
		   	 		</div>
		   	 	</div>
		   	 </div>
		   <div class="form-group">
		   	 <button type="submit" class="btn btn-lg btn-primary" id="search" onclick="saleQuery(this)">查询</button>
		   	 <button class="btn btn-lg btn-info" id="">打印</button>
	   		</div>

	   	<table class="table table-bordered table-striped col-sm-12" >
		     <thead>
		        <tr>
		           <th>池塘编号</th> 	
		           <th>养殖批次</th>
		           <th>排号</th>
		           <th>销售编号</th>
		           <th>品种</th>
		           <th>数量</th>
		           <th>重量</th>
		           <th>销售金额</th>
		           
		        </tr>
		     </thead>
		     <tbody id="div1">

			  
		     </tbody>
 		 </table>
	   </div>
	     <!--<div class="panel-footer">
	     	<ul class="pagination">
			 {$page}
		    </ul>
	     </div>-->
	</div>
</block>
<block name="rightcolumn">
	<h1><strong>报表查询</strong></h1>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{:U('Baseadmin/Trace/querys', array('name' => 's1'))}">养殖信息月报</a></li>
		<li><a href="{:U('Baseadmin/Trace/querys', array('name' => 's2'))}">养殖批次耗用报表</a></li>
		<li><a href="{:U('Baseadmin/Trace/querys', array('name' => 's3'))}">基地销售报表</a></li>
	</ul>
</block>
<block name="script"> 
    <script>
      function saleQuery(){
			  var start_time = $('#start_time').val();
			  var end_time = $('#end_time').val();
			  var pool_id = $('#pool_id').val();
			  var base_id = $('#base_id').val();
		      if(start_time=="") start_time=0;
		      if(end_time=="") end_time=0;
		      if(base_id=="") base_id=0;
			  var url = "{:U('Baseadmin/Trace/search3/pool_id/" + pool_id + "/base_id/" +base_id+ "/start_time/" + start_time + "/end_time/" + end_time + "')}";
			  $.get(url, function (data, status) {
				  if(data==""||data==null){
					  alert('数据不存在');
					  setTimeout("window.location.href=\"{:U('Baseadmin/Trace/querys', array('name' => 's3'))}\"",200);
				  }
				  $('#div1').empty();
				 $.each(data, function(i, item){
					 $('#div1').append("<tr><td>"+ item.trace_pool_id+"</td><td>"+item.batch+"</td><td>"+item.rowid+"</td><td>"+item.trace_sale_id+"</td><td>"+
							 item.trace_fry_id+"</td><td>"+item.number+"</td><td>"+item.weight+"</td><td>"+item.univalent+"</td></tr>");
				 });
                 
                 /*setTimeout("window.location.href=\"{:U('Baseadmin/Trace/search', array('name'=>'s3'))}\"",200);*/
            });
        }
    </script>
</block>