<extend name="Public:base"/>
<block name="leftcolumn">
   <div class="panel panel-info">
	   <div class="panel-heading">
	      <h3 class="panel-title">
	         养殖指标记录
	      </h3>
	   </div>
	   <div class="panel-body">
	       <button class="btn btn-lg btn-primary"  data-toggle="modal" data-target="#addIndicatorModal">添加</button><br><br>
		   <button class="btn btn-lg btn-primary"  data-toggle="modal" data-target="#queryModal">查询</button><br><br>
	   	<table class="table table-bordered table-striped col-sm-12" >
		     <thead>
		        <tr>
	           <if condition = "$pool_data['pool_model'] eq '网箱'">
	           	   <th>网箱</th>
               </if>
		           <th>测量日期</th>
		           <th>天气风向</th>
		           <th>指标名称</th>
		           <th>指标值</th>
		           <th>指标单位</th>
		           <th>操作</th>
		        </tr>
		     </thead>
		     <tbody id="div1">
		     	<volist name="indicator" id="indicator">	
			        <tr>
			         <if condition = "$pool_data['pool_model'] eq '网箱'">  
			           <td>{$indicator.indicator_cage_id}</td>
			         </if>  
			           <td>{$indicator.indicator_time}</td>
			           <td>{$indicator.indicator_weather}</td>
			           <td>{$indicator.indicator_name}</td>
			           <td>{$indicator.indicator_value}</td>
			           <td>{$indicator.indicator_unit}</td>
		               <td><button class="btn btn-danger" data-toggle="modal" data-target="#modifyIndicatorModal" value="{$indicator.indicator_id}" onclick="indicatorChange(this)">修改</button></td>
			        </tr>
			    </volist> 
			  
		     </tbody>
 		 </table>
	   </div>
	     <div class="panel-footer" id="div2">
	     	<ul class="pagination">
			 {$page}
		    </ul>
	     </div>
	</div>

	<div class="modal fade" id="queryModal" tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close"
							data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						查询条件
					</h4>
				</div>
				<div class="modal-body">
					<form id="queryIndicator_form" role="form" method="post">
						<div class="form-group">
							<label for="">测量日期</label>
							<input type="date" class="form-control" value="" name="q_indicator_time" id="q_indicator_time" >
						</div>
						<label class="control-label" for="input01" name="time">当前时间: {$time} </label>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
							data-dismiss="modal">关闭
					</button>
					<button type="button"  id="queryIndicatorBtn" class="btn btn-primary">
						提交
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->

	</div>
	<!-- indicatorModal -->
<div class="modal fade" id="addIndicatorModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
		   <div class="modal-dialog">
		      <div class="modal-content">
		         <div class="modal-header">
		            <button type="button" class="close" 
		               data-dismiss="modal" aria-hidden="true">
		                  &times;
		            </button>
		            <h4 class="modal-title" id="myModalLabel">
		               新养殖指标信息
		            </h4>
		         </div>
		         <div class="modal-body">
		            <form action="{:U('Home/Safe/adds', array('name' => 'indicator'))}" id="addIndicator_form" role="form" method="post">
                        <if condition = "$pool_data['pool_model'] eq '网箱'">
			            	<div class="form-group">
			            		<label for="">网箱</label>
				            		<select class="form-control" name="indicator_cage_id" >
				            			<option value="0">请选择网箱</option>
				            			<volist name="cage" id="ca">
				            				<option value="{$ca.cage_id}">{$ca.cage_rowname}</option>
				            			</volist>
				            		</select>
			            	    </else>
			            	</div> 
		            	</if>
		            	<div class="form-group">
		            		<label for="">测量日期</label>
		            		<input type="date" class="form-control" value="" name="indicator_time" >
		            	</div>
		            	<div class="form-group">
		            		<label for="">天气风向</label>
		            		<input type="text" class="form-control" value="" name="indicator_weather" >
		            	</div>
		            	<div class="form-group">
		            		<label for="">指标名称</label>
		            		<input type="text" class="form-control" value="" name="indicator_name" >
		            	</div>
		            	<div class="form-group">
		            		<label for="">指标值</label>
		            		<input type="text" class="form-control" value="" name="indicator_value" >
		            	</div>
		            	<div class="form-group">
		            		<label for="">指标单位</label>
		            		<input type="text" class="form-control" value="" name="indicator_unit" >
		            	</div>
		            	
		            	<label class="control-label" for="input01" name="time">当前时间: {$time} </label>
		            </form>
		         </div>
		         <div class="modal-footer">
		            <button type="button" class="btn btn-default" 
		               data-dismiss="modal">关闭
		            </button>
		            <button type="button"  id="addIndicatorBtn" class="btn btn-primary">
		               提交
		            </button>
		         </div>
		      </div><!-- /.modal-content -->
		</div><!-- /.modal -->

</div>

<!-- ModifyfryModal -->
<div class="modal fade" id="modifyIndicatorModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
		   <div class="modal-dialog">
		      <div class="modal-content">
		         <div class="modal-header">
		            <button type="button" class="close" 
		               data-dismiss="modal" aria-hidden="true">
		                  &times;
		            </button>
		            <h4 class="modal-title" id="myModalLabel">
		               修改用药信息
		            </h4>
		         </div>
		         <div class="modal-body">
		            <form action="{:U('Home/Safe/modify', array('name' => 'Indicator'))}" id="modifyIndicator_form" role="form" method="post">
		            	<if condition = "$pool_data['pool_model'] eq '网箱'">
			            	<div class="form-group">
			            		<label for="">网箱</label>
				            		<select class="form-control" name="indicator_cage_id" id="indicator_cage_id">
				            			<option value="0">请选择网箱</option>
				            			<volist name="cage" id="ca">
				            				<option value="{$ca.cage_id}">{$ca.cage_rowname}</option>
				            			</volist>
				            		</select>
			            	    </else>
			            	</div> 
		            	</if>
		            	<div class="form-group">
		            		<label for="">测量日期</label>
		            		<input type="date" class="form-control" value="" name="indicator_time" id="indicator_time">
		            	</div>
		            	<div class="form-group">
		            		<label for="">天气风向</label>
		            		<input type="text" class="form-control" value="" name="indicator_weather" id="indicator_weather">
		            	</div>
		            	<div class="form-group">
		            		<label for="">指标名称</label>
		            		<input type="text" class="form-control" value="" name="indicator_name" id="indicator_name">
		            	</div>
		            	<div class="form-group">
		            		<label for="">指标值</label>
		            		<input type="text" class="form-control" value="" name="indicator_value" id="indicator_value">
		            	</div>
		            	<div class="form-group">
		            		<label for="">指标单位</label>
		            		<input type="text" class="form-control" value="" name="indicator_unit" id="indicator_unit">
		            	</div>
		            	<label class="control-label" for="input01" name="time">当前时间: {$time} </label>
		                <div class="form-group hidden">
		            		<input type="text" class="form-control" value="" name="indicator_id" id="indicator_id" >
		            	</div>
		            </form>
		         </div>
		         <div class="modal-footer">
		            <button type="button" class="btn btn-default" 
		               data-dismiss="modal">关闭
		            </button>
		            <button type="button"  id="modifyIndicatorBtn" class="btn btn-primary">
		               提交修改
		            </button>
		         </div>
		      </div><!-- /.modal-content -->
		</div><!-- /.modal -->
</div>
</block>
<block name="rightcolumn"> 
  <h1><strong>养殖管理</strong></h1>
   	  <ul class="nav nav-pills nav-stacked">
   	  	<li><a href="{:U('Home/Safe/cultivation', array('name' => 'stocking'))}">放养管理</a></li>
   	  	<li><a href="{:U('Home/Safe/cultivation', array('name' => 'feeding'))}">投饲管理</a></li>
   	  	<li><a href="{:U('Home/Safe/cultivation', array('name' => 'patrol'))}">巡塘管理</a></li>
   	  	<li><a href="{:U('Home/Safe/cultivation', array('name' => 'medication'))}">用药管理</a></li>
   	  	<li class="active"><a href="{:U('Home/Safe/cultivation', array('name' => 'indicator'))}">养殖指标管理</a></li>
   	  	<!--<li><a href="#">病害管理</a></li>
   	  	<li><a href="#">自动获取数据采集指标</a></li>-->
   	  </ul>
</block>
<block name="script"> 
	<script>
	function indicatorChange(obj) { 
	       
			var val = $(obj).attr('value');
	        var url = "{:U('Home/Safe/getChoose/name/Indicator/val/"+val+"')}";
	        $.get(url, function(data, status){

	        	$('#indicator_id').val(data['indicator_id']);
				//$('#indicator_fry_id').val(data['indicator_fry_id']);
	           // $('#indicator_cage_id').val(data['indicator_cage_id']);
	        	$('#indicator_time').val(data['indicator_time']);
	        	$('#indicator_weather').val(data['indicator_weather']);
	        	$('#indicator_name').val(data['indicator_name']);
	        	$('#indicator_value').val(data['indicator_value']);
	        	$('#indicator_unit').val(data['indicator_unit']);
	        });
	}
	$(document).ready(function(){

		$(document).ready(function() {
			$('#queryIndicatorBtn').click(function () {
				var indicator_time = $("#q_indicator_time").val();
				var indicator = 'indicator';
				/*+"/stocking_start_time/"+stocking_start_time*/
				var url = "{:U('Home/Safe/querys/name/" + indicator + "/indicator_time/" + indicator_time + "')}";
				$("#div1").empty();
				$("#div2").remove();
				$.get(url, function (data, status) {
					$.each(data, function (i, item) {
						$('#div1').append("<tr><td>" + item.indicator_time+ "</td><td>" + item.indicator_weather + "</td><td>" + item.indicator_name + "</td><td>" + item.indicator_value + "</td><td>" + item.indicator_unit +
								"</td><td><button class='btn btn-danger' data-toggle='modal' data-target='#modifyIndicatorModal' value=" + item.indicator_id + " onclick='indicatorChange(this)'>修改</button></td></tr>");
					});
					$('#queryModal').modal('hide')
				});
			});
		});
	      $('#addIndicatorBtn').click(function(){
	             var action = $('#addIndicator_form').attr('action');
	             var Formattr = $('#addIndicator_form').serialize();
	             $.post(action, Formattr, function(data,status) {
	                 if(data.code == 1) {
	                    alert(data.msg);
	                    setTimeout("window.location.href=\"{:U('Home/Safe/cultivation', array('name' => 'indicator'))}\"",200);
	                 }else{
	                 	alert(data.msg);
	                 }
	             });
	        });
	      $('#modifyIndicatorBtn').click(function(){

	        	 var action= $('#modifyIndicator_form').attr('action');
	        	 var Formattr=$('#modifyIndicator_form').serialize();
		         console.log(Formattr);
	             $.post(action, Formattr,function(data,status) {
	                 
	                 if(status == "success") {
	                    alert( "修改成功！");
	                 }else{
	                 	alert("修改失败！");
	                 }
	                 setTimeout("window.location.href=\"{:U('Home/Safe/cultivation', array('name' => 'indicator'))}\"",200);
	             });
	        });
	});
	</script>
</block>