<extend name="Public:base"/>
<block name="leftcolumn">
   <div class="panel panel-info">
	   <div class="panel-heading">
	      <h3 class="panel-title">
	         放养记录
	      </h3>
	   </div>
	   <div class="panel-body">
	       <button class="btn btn-lg btn-primary"  data-toggle="modal" data-target="#addStockingModal">添加</button><br><br>
		   <button class="btn btn-lg btn-primary"  data-toggle="modal" data-target="#queryModal">查询</button><br><br>
		   <table class="table table-bordered table-striped col-sm-12" id="querytable"></table>
		   <table class="table table-bordered table-striped col-sm-12" id="div1">
		     <thead>
		        <tr>
		           <th>放养批次</th>
		           <th>鱼苗</th>
		           <th>网箱</th>
		           <th>数量</th>
		           <th>规格</th>
		           <th>投苗时间</th>
		           <th>预计上市时间</th>
		           <th>备注</th>
		           <th>操作</th>
		        </tr>
		     </thead>
			<tbody id="1"></tbody>
		     <tbody>

		     	<volist name="stocking" id="stocking">	
			        <tr>
			           <td>{$stocking.stocking_batch}</td>
			           <td>{$stocking.stocking_fry_id}</td>
			           <td>{$stocking.stocking_cage_id}</td>
			           <td>{$stocking.stocking_number}</td>
			           <td>{$stocking.stocking_specifications}</td>
			           <td>{$stocking.stocking_start_time}</td>
			           <td>{$stocking.stocking_finish_time}</td>
			           <td>{$stocking.stocking_remark}</td>
		               <td><button class="btn btn-danger" data-toggle="modal" data-target="#modifyStockingModal" value="{$stocking.stocking_id}" onclick="stockingChange(this)">修改</button></td>
			        </tr>
			    </volist>

		     </tbody>
 		 </table>
	   </div>
	     <div class="panel-footer" id="div2">
	     	<ul class="pagination">
			 {$page}
		    </ul>
	     </div>
	</div>

	<div class="modal fade" id="queryModal" tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close"
							data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						查询条件
					</h4>
				</div>
				<div class="modal-body">
					<form id="queryStocking_form" role="form" method="post">
						<div class="form-group">
							<label for="">放养批次</label>
							<input type="text" class="form-control" value="" name="q_stocking_batch" id="q_stocking_batch">
						</div>
						<div class="form-group">
							<label for="">鱼苗</label>
							<select class="form-control" name="q_stocking_fry_id" id="q_stocking_fry_id">
								<option value="0">请选择鱼苗</option>
								<volist name="fry" id="fr">
									<option value="{$fr.fry_id}">{$fr.fry_name}</option>
								</volist>
							</select>
						</div>
						<div class="form-group">
							<label for="">网箱</label>
							<select class="form-control" value=""name="q_stocking_cage_id" id="q_stocking_cage_id">
								<option value="0">请选择网箱</option>
								<volist name="cage" id="c">
									<option value="{$c.cage_id}">{$c.cage_rowname}</option>
								</volist>
							</select>
						</div>
						<!--<div class="form-group">
						<label for="dtp_input2" >投苗时间</label>
						<div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
							<input class="form-control" size="16" type="text" value="" name="q_stocking_start_time" id="q_stocking_start_time" readonly >
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
						<input type="hidden" id="q_stocking_start_time" value="" name="q_stocking_start_time"/><br/>
					</div>-->
						<!--<div class="form-group">-->
						<!--<label for="">预计上市时间</label>-->
						<!--<input type="date" class="form-control" value="" name="stocking_finish_time" >-->
						<!--</div>-->
						<label class="control-label" for="input01" name="time">当前时间: {$time} </label>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
							data-dismiss="modal">关闭
					</button>
					<button type="button"  id="queryStockingBtn" class="btn btn-primary">
						提交
					</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal -->

	</div>
	<!-- stockingModal -->
<div class="modal fade" id="addStockingModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
		   <div class="modal-dialog">
		      <div class="modal-content">
		         <div class="modal-header">
		            <button type="button" class="close" 
		               data-dismiss="modal" aria-hidden="true">
		                  &times;
		            </button>
		            <h4 class="modal-title" id="myModalLabel">
		               新放养信息
		            </h4>
		         </div>
		         <div class="modal-body">
		            <form action="{:U('Home/Safe/adds', array('name' => 'stocking'))}" id="addStocking_form" role="form" method="post">
		            	<div class="form-group">
		            		<label for="">放养批次</label>
		            		<input type="text" class="form-control" value="" name="stocking_batch" >
		            	</div>
		            	<div class="form-group">
		            		<label for="">鱼苗</label>
		            		<select class="form-control" name="stocking_fry_id" >
		            			<option value="0">请选择鱼苗</option>
		            			<volist name="fry" id="fr">
		            				<option value="{$fr.fry_id}">{$fr.fry_name}</option>
		            			</volist>
		            		</select>
		            	</div>
                        <if condition = "$pool_data['pool_model'] eq '网箱'">
						<div class="form-group">
							<label for="">网箱</label>
							<select class="form-control" name="stocking_cage_id" >
								<option value="0">请选择网箱</option>
								<volist name="cage" id="ca">
									<option value="{$ca.cage_id}">{$ca.cage_rowname}</option>
								</volist>
							</select>
							</else>
						</div>
					</if>
		            	<div class="form-group">
		            		<label for="">数量</label>
		            		<input type="text" class="form-control" value="" name="stocking_number" >
		            	</div>
		            	<div class="form-group">
		            		<label for="">规格</label>
		            		<input type="text" class="form-control" value="" name="stocking_specifications" >
		            	</div>
						<!--<div class="form-group">-->
							<!--<label for="">投苗时间</label>-->
							<!--<input type="date" class="form-control" value="" name="stocking_start_time" >-->
						<!--</div>-->
						<div class="form-group">
							<label for="dtp_input2" >投苗时间</label>
							<div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
								<input class="form-control" size="16" type="text" value="" readonly>
								<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<input type="hidden" id="dtp_input2" value="" name="stocking_start_time"/><br/>
						</div>
						<!--<div class="form-group">-->
							<!--<label for="">预计上市时间</label>-->
							<!--<input type="date" class="form-control" value="" name="stocking_finish_time" >-->
						<!--</div>-->
						<div class="form-group">
							<label for="dtp_input2" >预计上市时间</label>
							<div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input3" data-link-format="yyyy-mm-dd">
								<input class="form-control" size="16" type="text" value="" readonly>
								<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<input type="hidden" id="dtp_input3" value="" name="stocking_finish_time"/><br/>
						</div>
		            	<div class="form-group">
		            		<label for="">备注</label>
		            	    <textarea class="form-control" value="" name="stocking_remark"></textarea>
		            	</div>
		            	<label class="control-label" for="input01" name="time">当前时间: {$time} </label>
		            	
		            </form>
		         </div>
		         <div class="modal-footer">
		            <button type="button" class="btn btn-default" 
		               data-dismiss="modal">关闭
		            </button>
		            <button type="button"  id="addStockingBtn" class="btn btn-primary">
		               提交
		            </button>
		         </div>
		      </div><!-- /.modal-content -->
		</div><!-- /.modal -->

</div>

<!-- ModifyfryModal -->
<div class="modal fade" id="modifyStockingModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
		   <div class="modal-dialog">
		      <div class="modal-content">
		         <div class="modal-header">
		            <button type="button" class="close" 
		               data-dismiss="modal" aria-hidden="true">
		                  &times;
		            </button>
		            <h4 class="modal-title" id="myModalLabel">
		               修改放养信息
		            </h4>
		         </div>
		         <div class="modal-body">
		            <form action="{:U('Home/Safe/modify',array('name'=>'stocking'))}" id="modifyStocking_form" role="form" method="post">
		            	<div class="form-group">
		            		<label for="">放养批次</label>
		            		<input type="text" class="form-control" value="" name="stocking_batch" id="stocking_batch">
		            	</div>
		            	
		            	<div class="form-group">
		            		<label for="">鱼苗</label>
		            		<select class="form-control" value="" name="stocking_fry_id" id="stocking_fry_id">
		            			<option value="0">请选择鱼苗</option>
		            			<volist name="fry" id="f">
		            				<option value="{$f.fry_id}">{$f.fry_name}</option>
		            			</volist>
		            		</select>
		            	</div>
		            	<if condition = "$pool_data['pool_model'] eq '网箱'">
			            	<div class="form-group">
			            		<label for="">网箱</label>
			            		<select class="form-control" value=""name="stocking_cage_id" id="stocking_cage_id">
			            			<option value="0">请选择网箱</option>
			            			<volist name="cage" id="c">
			            				<option value="{$c.cage_id}">{$c.cage_rowname}</option>
			            			</volist>
			            		</select>
			            	</div>
			            </if>
		            	<div class="form-group">
		            		<label for="">数量</label>
		            		<input type="text" class="form-control" value="" name="stocking_number" id="stocking_number">
		            	</div>
		            	<div class="form-group">
		            		<label for="">规格</label>
		            		<input type="text" class="form-control" value="" name="stocking_specifications" id="stocking_specifications">
		            	</div>
		            	<!--<div class="form-group">-->
		            		<!--<label for="">投苗时间</label>-->
		            		<!--<input type="date" class="form-control" value="" name="stocking_start_time" id="stocking_start_time">-->
		            	<!--</div>-->
						<div class="form-group">
							<label for="dtp_input2" >投苗时间</label>
							<div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input4" data-link-format="yyyy-mm-dd">
								<input class="form-control" size="16" type="text" value="" id="stocking_start_time">
								<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<input type="hidden" id="dtp_input4" value="" name="stocking_start_time"/><br/>
						</div>
		            	<!--<div class="form-group">-->
		            		<!--<label for="">预计上市时间</label>-->
		            		<!--<input type="date" class="form-control" value="" name="stocking_finish_time" id="stocking_finish_time">-->
		            	<!--</div>-->
						<div class="form-group">
							<label for="dtp_input2" >预计上市时间</label>
							<div class="input-group date form_date col-md-5" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input5" data-link-format="yyyy-mm-dd">
								<input class="form-control" size="16" type="text" value="" readonly id="stocking_finish_time">
								<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
							<input type="hidden" id="dtp_input5" value="" name="stocking_finish_time"/><br/>
						</div>
		            	<div class="form-group">
		            		<label for="">备注</label>
		            		<textarea class="form-control" value="" name="stocking_remark" id="stocking_remark"> </textarea>
		            	</div>
		            	
		            	<label class="control-label" for="input01" name="time">当前时间: {$time} </label>
		                <div class="form-group hidden">
		            		<input type="text" class="form-control" value="" name="stocking_id" id="stocking_id">
		            	</div>
		            </form>
		         </div>
		         <div class="modal-footer">
		            <button type="button" class="btn btn-default" 
		               data-dismiss="modal">关闭
		            </button>
		            <button type="button"  id="modifyStockingBtn" class="btn btn-primary">
		               提交修改
		            </button>
		         </div>
		      </div><!-- /.modal-content -->
		</div><!-- /.modal -->
</div>
</block>
<block name="rightcolumn"> 
  <h1><strong>养殖管理</strong></h1>
   	  <ul class="nav nav-pills nav-stacked">
   	  	<li class="active"><a href="{:U('Home/Safe/cultivation', array('name' => 'stocking'))}">放养管理</a></li>
   	  	<li><a href="{:U('Home/Safe/cultivation', array('name' => 'feeding'))}">投饲管理</a></li>
   	  	<li><a href="{:U('Home/Safe/cultivation', array('name' => 'patrol'))}">巡塘管理</a></li>
   	  	<li><a href="{:U('Home/Safe/cultivation', array('name' => 'medication'))}">用药管理</a></li>
   	  	<li><a href="{:U('Home/Safe/cultivation', array('name' => 'indicator'))}">养殖指标管理</a></li>
   	  	<!--<li><a href="#">病害管理</a></li>
   	  	<li><a href="#">自动获取数据采集指标</a></li>-->
   	  </ul>
</block>
<block name="script">
	<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
	<!--<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.fr.js" charset="UTF-8"></script>-->
	<script type="text/javascript">

		$('.form_date').datetimepicker({
			//language:  'fr',
			weekStart: 1,
			todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0
		});

	</script>
	<script>
	function stockingChange(obj) { 
	       
			var val = $(obj).attr('value');
	        var url = "{:U('Home/Safe/getChoose/name/stocking/val/"+val+"')}";
	        $.get(url, function(data, status){
	        	$('#stocking_id').val(data['stocking_id']);
	        	$('#stocking_batch').val(data['stocking_batch']);
	        	// $('#stocking_fry_id').val(data['stocking_fry_id']);
	        	// $('#stocking_cage_id').val(data['stocking_cage_id']);
	        	$('#stocking_number').val(data['stocking_number']);
	        	$('#stocking_specifications').val(data['stocking_specifications']);
	        	$('#stocking_start_time').val(data['stocking_start_time']);
	        	$('#stocking_finish_time').val(data['stocking_finish_time']);
	        	$('#stocking_remark').val(data['stocking_remark']);
	        });
	}
	$(document).ready(function(){

	      $('#addStockingBtn').click(function(){
	             var action = $('#addStocking_form').attr('action');
	             var Formattr = $('#addStocking_form').serialize();
	              
	             $.post(action, Formattr, function(data,status) {
	             	 
	                 if(data.code == 1) {
	                    alert( data.msg);
	                    setTimeout("window.location.href=\"{:U('Home/Safe/cultivation', array('name' => 'stocking'))}\"",200);
	                 }else{
	                 	alert(data.msg);
	                 }
	                 
	             });
	        });
		$('#queryStockingBtn').click(function(){
				var stocking_fry_id = $("#q_stocking_fry_id").val();
				var stocking_batch=$('#q_stocking_batch').val();
				var stocking_cage_id=$('#q_stocking_cage_id').val();
			    var stocking='stocking';
				/*+"/stocking_start_time/"+stocking_start_time*/
				var url = "{:U('Home/Safe/querys/name/"+stocking+"/stocking_cage_id/"+stocking_cage_id+"/stocking_fry_id/"+stocking_fry_id+"/stocking_batch/"+stocking_batch+"')}";
				$('#querytable').empty();
			  	$("#div1").empty();
				$("#div2").remove();
				$.get(url, function(data,status) {
					$('#querytable').append("<thead><tr><th>放养批次</th><th>鱼苗</th><th>网箱</th><th>数量</th><th>规格</th><th>投苗时间</th><th>预计上市时间</th><th>备注</th><th>修改</th></tr> </thead>");
					$.each(data, function(i, item){
						$('#querytable').append("<tr><td>"+ item.stocking_batch+"</td><td>"+item.stocking_fry_id+"</td><td>"+item.stocking_cage_id+"</td><td>"+ item.stocking_number+"</td><td>"+item.stocking_specifications+"" +
								"</td><td>"+item.stocking_start_time+"</td><td>"+ item.stocking_finish_time+"</td><td>"+item.stocking_remark+"</td>" +
								"<td><button class='btn btn-danger' data-toggle='modal' data-target='#modifyStockingModal' value="+item.stocking_id+" onclick='stockingChange(this)'>修改</button></td></tr>");
					});
					$('#queryModal').modal('hide')
				});
		});

	      $('#modifyStockingBtn').click(function(){

	        	 var action= $('#modifyStocking_form').attr('action');
	        	 var Formattr=$('#modifyStocking_form').serialize();
		        console.log(Formattr);
	             $.post(action, Formattr,function(data,status) {
	                 
	                 if(status == "success") {
	                    alert( "修改成功！");
	                 }else{
	                 	alert("修改失败！");
	                 }
	                 setTimeout("window.location.href=\"{:U('Home/Safe/cultivation', array('name' => 'stocking'))}\"",200);
	             });
	        });
	});
	</script>
</block>