<!DOCTYPE>
<html>
   <head>
   	   <meta charset="utf8">
   	   <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sticky-footer-navbar.css">
       <script type="application/javascript" src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
       <script type="application/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
   	   <title>水产品质量溯源系统</title>
   </head>
<body>
<block name="header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
	        <div class="navbar-header">
	          
	          <a class="navbar-brand" href="{:U('Baseadmin/Index/index')}">水产品质量溯源系统</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li class="dropdown">
	            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心<span class="caret"></span></a>
	            	   <ul class="dropdown-menu">
		                <li><a href="{:U('Home/User/showMe',array('role'=> '2'))}">个人信息</a></li>
		                <li><a style="color:red" href="{:U('Home/Index/logout')}">退出</a></li>	                
		              </ul>
	            </li> 
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户中心 <span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="{:U('Baseadmin/User/index')}">注册用户</a></li>

	                <li><a href="{:U('Baseadmin/User/manage')}">用户管理</a></li>
	              </ul>
	            </li>
	           
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">功能列表 <span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="{:U('Baseadmin/Safe/index')}">池塘管理</a></li>
                    <li><a href="{:U('Baseadmin/Trace/search', array('name'=>'s1'))}">质量追溯</a></li>	 
	              </ul>
	            </li>
	            <a class="navbar-brand" href="#">|  &nbsp&nbsp基础管理员</a>
	          </ul>
	        </div><!--/.nav-collapse -->
      </div>
    </nav>
</block>
    <div class="container">
    	<div class="row">
    		<div class="col-sm-9">
    		  <block name="leftcolumn">
                  <h1>leftcolumn</h1>
			  </block>
    		</div>

	       <div class="col-sm-3">
	       	  <block name="rightcolumn">
		       	 <h1>rightcolumn</h1>
		      </block>
	       </div>
	    </div> <!-- row -->
    	
   </div> <!-- container -->

   <block name="footer">
    <footer class="footer">
      <div class="container">
        <p class="text-muted"><center>Copyright by 华南农业大学</center></p>
      </div>
    </footer>
   </block> 
  </body>
</html>
<block name="script">
	
</block>