<!DOCTYPE>
<html>
   <head>
   	   <meta charset="utf8">
   	   <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
       <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sticky-footer-navbar.css">
       <script type="application/javascript" src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
       <script type="application/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
   	   <title>水产品质量溯源系统</title>

   </head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">水产品质量溯源系统</a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav">
	            <li class="dropdown">
	            	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心<span class="caret"></span></a>
	            	   <ul class="dropdown-menu">
		                <li><a href="#">个人信息</a></li>
		                <li><a href="{:U('Home/Index/logout')}">退出</a></li>	                
		              </ul>
	            </li> 

	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">功能列表 <span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a href="{:U('Home/Safe/index')}">养殖基本信息</a></li>
					<li><a href="{:U('Home/Safe/manageIndex')}">养殖管理</a></li>
	                <li><a href="#">出塘管理</a></li>
	                <li><a href="#">质量追溯</a></li>	                
	              </ul>
	            </li>
	          </ul>
	        </div><!--/.nav-collapse -->
      </div>
    </nav>
    

   