<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--导入jquery-->
    <script type="application/javascript" src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
    <!--导入echart-->
    <script src="__PUBLIC__/js/echarts.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 1000px;height:800px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据

    $.get('{:U("Baseadmin/Charts/getData")}', function (data) {
        myChart.setOption(option = {
            title: {
                text: '温度变化曲线'
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                data: data.map(function (item) {
                    return item['timestamp'];
                })
            },
            yAxis: {
                splitLine: {
                    show: false
                }
            },
            toolbox: {
                left: 'center',
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    restore: {},
                    saveAsImage: {}
                }
            },
            dataZoom: [{
                startValue: '2016-01-01'
            }, {
                type: 'inside'
            }],
            visualMap: {
                top: 20,
                right: 20,
                pieces: [{

                    lte: 5,
                    color: '#FF3300'
                }, {
                    gt: 5,
                    lte: 14,
                    color: '#FF9933'
                }, {
                    gt: 14,
                    lte: 18,
                    color: '#FFFF00'
                }, {
                    gt: 18,
                    lte: 20,
                    color: '#33FF99'
                }, {
                    gt: 20,
                    lte: 25,
                    color: '#66FF00'
                }, {
                    gt: 25,
                    lte: 28,
                    color: '#33FF99'
                }, {
                    gt: 28,
                    lte: 32,
                    color: '#FFFF00'
                }, {
                    gt: 32,
                    lte: 36,
                    color: '#FF9933'
                },{
                    gt: 36,
                    color: '#FF3300'
                }],
                outOfRange: {
                    color: '#999'
                }
            },
            series: {
                name: '水温（°C）',
                type: 'line',
                data: data.map(function (item) {
                    return item['watertemp'];
                }),
                markLine: {
                    silent: true,
                    data: [{
                        yAxis: 5
                    }, {
                        yAxis: 14
                    }, {
                        yAxis: 18
                    }, {
                        yAxis: 20
                    }, {
                        yAxis: 25
                    }, {
                        yAxis: 28
                    }, {
                        yAxis: 30
                    }, {
                        yAxis: 32
                    }, {
                        yAxis: 36
                    }]
                }
            }
        });
    });

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>