<extend name="Public:base"/>
<block name="leftcolumn">
   	  <div class="row">
         <h1>用户管理</h1>	 
         
         <hr>
   	  </div>

   	  <div class="row">
   	  	 	<table class="table table-bordered table-striped col-sm-12" >
	     <caption>普通用户信息:</caption>
		     <thead>
		        <tr>
		           <th>账号</th>
		           <th>密码</th>
		           <th>负责池塘</th>
		           <th>拥有权限</th>
		           <th>操作</th>
		        </tr>
		     </thead>
		     <tbody>
		     	<volist name="member_data" id="member_data">
			        <tr>
			           <td>{$member_data.member_username}</td>
			           <td>{$member_data.member_password}</td>
			           <td>{$member_data.member_pool_id}</td>
			           <td>{$member_data.member_permission}</td>
	                   <td><button class="btn btn-danger" data-toggle="modal" data-target="#modifyMemberModal" id="modifyButton" value="{$member_data.member_id}" onclick="change(this)">修改</button></td>
			        </tr>
		        </volist>
		     </tbody>
 		 </table>
   	  </div>

	<div class="modal fade" id="modifyMemberModal" tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close"
							data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						信息修改
					</h4>
				</div>
				<div class="modal-body">
					<form action="{:U('Baseadmin/User/modify', array('name' => 'member'))}" id="modifyMember_form" role="form" method="post">
						<div class="form-group">
							<label for="">密码</label>
							<input type="text" class="form-control" value="" name="member_password" id="member_password">
						</div>
						<div class="form-group">
							<label for="">负责池塘</label>
							<select class="form-control"name="member_pool_id" id="member_pool_id">
								<option value="0">请选择</option>
								<option value="1">11号塘</option>
								<option value="2">14号塘</option>
								<option value="3">15号塘</option>
							</select>
						</div>
						<div class="form-group">
							<label for="">拥有权限</label>
							<input type="text" class="form-control" value="" name="member_permission" id="member_permission">
						</div>
						<div class="form-group" hidden>
							<input type="text" class="form-control" value="" name="member_id" id="member_id" >
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default"
							data-dismiss="modal">关闭
					</button>
					<button type="button"  id="modifyMemberBtn" class="btn btn-primary">
						提交更改
					</button>
				</div>

			</div><!-- /.modal-content -->
		</div><!-- /.modal -->
	</div>

	<script>
		function change(obj) {

			var val = $(obj).attr('value');
			var url = "{:U('Baseadmin/User/getChoose/name/member/val/"+val+"')}";
			$.get(url, function(data, status){
				$('#member_id').val(data['member_id']);
				$('#member_password').val(data['member_password']);
				$('#member_pool_id').val(data['member_pool_id']);
				$('#member_permission').val(data['member_permission']);

			});
		}
		$(document).ready(function(){
			$('#modifyMemberBtn').click(function(){

				var action= $('#modifyMember_form').attr('action');
				var Formattr=$('#modifyMember_form').serialize();
				// console.log(Formattr);
				$.post(action, Formattr,function(data,status) {

					if(status == "success") {
						alert( "修改成功！");
					}else{
						alert("修改失败！");
					}
					setTimeout("window.location.href=\"{:U('Baseadmin/User/manage')}\"",200);
				});
			});
		});
		$(function () { $("[data-toggle='tooltip']").tooltip(); });
	</script>

</block>



<block name="rightcolumn">

</block>


