<!DOCTYPE>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/sticky-footer-navbar.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap-datetimepicker.min.css">
    <script type="application/javascript" src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
    <!--	<script type="application/javascript" src="__PUBLIC__/js/bootstrap-select.min.js"></script>
        <script type="application/javascript" src="__PUBLIC__/css/bootstrap-select.min.css"></script>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-*.min.js"></script>-->
    <script type="application/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.min.js"></script>
    <script type="application/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
    <title>水产品质量溯源系统</title>
</head>

<body bgcolor="transparent" style='background:transparent'>



<div class="container">
<div align="center"><h3>溯源表单</h3></div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-bordered table-striped col-sm-6">
                <caption>溯源信息:</caption>
                <tr>
                    <th>销售编号</th>
                    <td>{$trace.trace_sale_id}</td>
                    <th>鱼品种</th>
                    <td>{$trace.trace_fry_id}</td>
                </tr>
                <tr>
                    <th colspan="2">水质是否达标</th>
                    <td colspan="2">{$trace.trace_is_water}</td>
                </tr>
                <tr>
                    <th colspan="2">用药是否达标</th>
                    <td colspan="2">{$trace.trace_is_medicine}</td>
                </tr>
                <tr>
                    <th colspan="2">生产开始日期</th>
                    <td colspan="2">{$trace.trace_start_time}</td>
                </tr>
                <tr>
                    <th colspan="2">销售出塘日期</th>
                    <td colspan="2">{$trace.trace_finish_time}</td>
                </tr>
                <tr>
                    <th colspan="2">客户名称</th>
                    <td colspan="2">{$trace.trace_client_name}</td>
                </tr>
                <tr>
                    <th colspan="2">基地联系人</th>
                    <td colspan="2">{$trace.trace_basename}</td>
                </tr>
                <tr>
                    <th colspan="2">基地联系电话</th>
                    <td colspan="2">{$trace.trace_tel}</td>
                </tr>
            </table>
            <table class="table table-bordered table-striped col-sm-6">
                <caption>销售信息：</caption>
                <tr>
                    <th>销售编号:</th>
                    <td>{$sale.sale_id}</td>
                    <th>出塘编号:</th>
                    <td>{$sale.sale_record_id}</td>
                </tr>
                <tr>
                    <th >鱼品种:</th>
                    <td >{$sale.sale_fry_id}</td>
                    <th >单价:</th>
                    <td >{$sale.sale_univalent}</td>
                </tr>
                <tr>
                    <th >数量:</th>
                    <td >{$sale.sale_number}</td>
                    <th >重量:</th>
                    <td >{$sale.sale_weight}</td>
                </tr>
                <tr>
                    <th >销售金额:</th>
                    <td >{$sale.sale_sales}</td>
                    <th >客户名称:</th>
                    <td >{$sale.sale_client_name}</td>
                </tr>
                <tr>
                    <th colspan="2">客户电话号码:</th>
                    <td colspan="2">{$sale.sale_client_tel}</td>
                </tr>
                <tr>
                    <th colspan="2">备注:</th>
                    <td colspan="2">{$sale.sale_remark}</td>
                </tr>
            </table>
            <table class="table table-bordered table-striped col-sm-6">
                <caption>出塘信息：</caption>
                <tr>
                    <th>出塘编号:</th>
                    <td>{$record.record_id}</td>
                    <th>养殖批次:</th>
                    <td>{$record.record_batch}</td>
                </tr>
                <tr>
                    <th >鱼品种:</th>
                    <td >{$record.record_fry_id}</td>
                    <th >网箱:</th>
                    <td >{$record.record_cage_id}</td>
                </tr>
                <tr>
                    <th >数量:</th>
                    <td >{$record.record_number}</td>
                    <th >重量:</th>
                    <td >{$record.record_weight}</td>
                </tr>
                <if condition="$record.record_type eq 转塘">
                    <tr>
                        <th >转入池塘:</th>
                        <td >{$record.record_transfer_pool_id}</td>
                        <th >转入网箱:</th>
                        <td >{$record.record_transfer_cage_id}</td>
                    </tr>
                    <tr>
                        <th >转入数量:</th>
                        <td >{$record.record_transfer_number}</td>
                        <th >转入重量:</th>
                        <td >{$record.record_transfer_weight}</td>
                    </tr>
                </if>
                <tr>
                    <th colspan="2">出塘类型:</th>
                    <td colspan="2">{$record.record_type}</td>
                </tr>
                <tr>
                    <th colspan="2">出塘日期:</th>
                    <td colspan="2">{$record.record_time}</td>
                </tr>
                <tr>
                    <th colspan="2">备注:</th>
                    <td colspan="2">{$record.remark}</td>
                </tr>
            </table>

           <!-- <div align="center"><img src="{$patrol[0].patrol_pool_img}" height="290" width="290"></div>-->
            <h4>巡塘信息:</h4>
            <volist name="patrol" id="patrol">
            <table class="table table-bordered table-striped col-sm-6">
                <tr>
                    <th>池塘:</th>
                    <td>{$patrol.patrol_pool_id}</td>
                    <th>网箱:</th>
                    <td>{$patrol.patrol_cage_id}</td>
                </tr>
                <tr>
                    <th >鱼苗:</th>
                    <td >{$patrol.patrol_fry_id}</td>
                    <th >经纬度:</th>
                    <td >{$patrol.patrol_coordinate}</td>
                </tr>
                <tr>
                    <th >数量:</th>
                    <td >{$patrol.patrol_number}</td>
                    <th >重量:</th>
                    <td >{$patrol.patrol_weight}</td>
                </tr>

                <tr>
                    <th colspan="2">死亡原因:</th>
                    <td colspan="2">{$patrol.patrol_death_reason}</td>
                </tr>
                <tr>
                    <th colspan="2">死亡日期:</th>
                    <td colspan="2">{$patrol.patrol_death_date}</td>
                </tr>
                <tr>
                    <th colspan="2">备注:</th>
                    <td colspan="2">{$patrol.patrol_remark}</td>
                </tr>
            </table>
            </volist>

           <!-- <div align="center"><img src="{$feeding[0].feeding_pool_img}" height="290" width="290"></div>-->
            <h4>投料信息:</h4>
            <volist name="feeding" id="feeding">
                <table class="table table-bordered table-striped col-sm-6">
                    <tr>
                        <th>池塘:</th>
                        <td>{$feeding.feeding_pool_id}</td>
                        <th>网箱:</th>
                        <td>{$feeding.feeding_cage_id}</td>
                    </tr>
                    <tr>
                        <th >饲料:</th>
                        <td >{$feeding.feeding_feed_id}</td>
                        <th >投料数量:</th>
                        <td >{$feeding.feeding_number}</td>
                    </tr>
                    <tr>
                        <th colspan="2">投料时间:</th>
                        <td colspan="2">{$feeding.feeding_time}</td>
                    </tr>
                </table>
            </volist>

            <h4>用药信息:</h4>
            <volist name="medication" id="medication">
                <table class="table table-bordered table-striped col-sm-6">
                    <tr>
                        <th>池塘:</th>
                        <td>{$medication.medication_pool_id}</td>
                        <th>网箱:</th>
                        <td>{$medication.medication_cage_id}</td>
                    </tr>
                    <tr>
                        <th >药品:</th>
                        <td >{$medication.medication_medicine_id}</td>
                        <th >使用剂量:</th>
                        <td >{$medication.medication_amount}</td>
                    </tr>


                    <tr>
                        <th colspan="2">用药时间:</th>
                        <td colspan="2">{$medication.medication_time}</td>
                    </tr>
                    <tr>
                        <th colspan="2">用药理由:</th>
                        <td colspan="2">{$medication.medication_reason}</td>
                    </tr>
                    <tr>
                        <th colspan="2">用药方式:</th>
                        <td colspan="2">{$medication.medication_pattern}</td>
                    </tr>
                    <tr>
                        <th colspan="2">注意事项:</th>
                        <td colspan="2">{$medication.medication_precautions}</td>
                    </tr>
                </table>
            </volist>
        </div>

        <div class="col-sm-3">

            <block name="rightcolumn">
                <!-- <h1><strong>导航元素</strong></h1>
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="">功能一</a></li>
                        <li><a href="">功能二</a></li>
                        <li><a href="">功能三</a></li>
                        <li><a href="">功能四</a></li>
                    </ul> -->

            </block>
        </div>
    </div> <!-- row -->

</div> <!-- container -->

<block name="footer">
    <footer class="footer" bgcolor="transparent" style='background:transparent'>
        <div class="container">
            <p class="text-muted"><center>Copyright by 华南农业大学</center></p>
        </div>
    </footer>
</block>
</body>
</html>
<block name="script">

</block>


